@import url("https://iosevka-webfonts.github.io/iosevka/Iosevka.css");
@import "tailwindcss";

@theme inline {
  --color-background: transparent;
  --color-foreground: #e0def4;
  --color-secondary-foreground: #908caa;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-background text-foreground font-[Iosevka];
}
